
.btn{
    font-family: cursive, 'apple chancery';;
    font-weight: bold;
    background-color: white;
    color: black;
    height: 60px;
    width: 120px;
}

.flex-container{
    margin: auto;
}

body {
    background-color:brown;
}

.title {
    margin: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.grid {
    margin: auto;
    width: 800px;
    height: 400px;
    display: grid;
    margin-bottom: 20px;
    border: gray solid 2px;
}

.pixel {
    background-color:azure;
}

.pixel:hover{
    background-color: gainsboro;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

form {
    width: 20px;
    margin: 0 auto;
    text-align: center;
}

.updown div p {
    font-family: cursive, 'apple chancery';;
    font-weight: bold;
    color: black;
}

input {
    width: 100px;
    height: 30px;
}

h1{
    color:gold;
    font-family: cursive, 'apple chancery';
}

.sizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sizer div p {
    color: gold;
    font-family: 'cursive', 'apple chancery';
}