
.btn{
    margin-top: 10px;
    font-family: cursive, 'apple chancery';;
    font-weight: bold;
    background-color: azure;
    color: black;
    height: 60px;
    width: 120px;
}

.btn:active{
    transform: scale(0.8);
}

#clearButton:active {
    background-color: gray;
}


.flex-container{
    margin: auto;
}

body {
    background-color:brown;
}

.title {
    margin: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.grid {
    margin: auto;
    width: 800px;
    height: 400px;
    display: grid;
    margin-bottom: 20px;
    border: gray solid 2px;
}

.pixel {
    background-color:azure;
}

.pixel:hover{
    background-color: gainsboro;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

form {
    width: 20px;
    margin: 0 auto;
    text-align: center;
}



h1{
    color:gold;
    font-family: cursive, 'apple chancery';
}

.sizer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sizer div p {
    display: flex;
    color: gold;
    font-family: 'cursive', 'apple chancery';
    text-align: center;
    margin-right: 100%;
    margin-left: 100%;
    margin-bottom: 3px;
    margin-top: 0px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#height {
    font-size: 40px;
}

.changeGrid {
    border: none;
    background: none;
}

.changeGrid:hover {
    transform: scale(1.8);
}

.changeGrid:active {
    transform: scale(0.8);
}

